.tinder--card {
  width: 90vw;
  height: 70vh;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img{
  width:100%;
  user-select: none;
  pointer-events: none;
}
.tinder--card h3{
  font-size: 40px;
  color: black;
  text-align: center;
  user-select: none;
  pointer-events: none;
}
.tinder--card p{
  text-align: center;
  color: black;
  user-select: none;
  pointer-events: none;
}

.tinder--cards {
  position:absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

}
